* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.quiz-app {
  background-color: #f8f8f8;
  margin: 20px auto;
  padding: 15px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  h4 {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
  }
  .quiz-info {
    display: flex;
    background-color: #fff;
    padding: 15px;
    align-items: center;
    min-height: 75px;
    .category {
      flex: 1;
      display: flex;
      align-items: center;
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;
        margin: 0;
        margin-left: 10px;
        padding: 10px;
        width: fit-content;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        li {
          font-size: 18px;
          cursor: pointer;
          &:not(:last-child) {
            padding-right: 20px;
          }
          &.chosen,
          &:hover {
            color: #0075ff;
            font-weight: bold;
            border-bottom: 2px solid #ddd;
          }
        }
      }
    }
    .count {
      flex: 1;
      text-align: right;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      span {
        font-weight: bold;
        color: #0075ff;
      }
    }
  }
  .hidden {
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    &.visible {
      opacity: 1;
      .quiz-area,
      .answers-area,
      .result {
        display: block;
      }
      .bullets,
      .buttons {
        display: flex;
      }
    }
    .quiz-area {
      display: none;
      padding: 20px;
      margin-top: 15px;
      background-color: #fff;
      h2 {
        margin: 0;
      }
    }
    .answers-area {
      display: none;
      background-color: #fff;
      padding: 0 20px 20px;
      .answer {
        background-color: #f9f9f9;
        padding: 15px;
        &:not(:last-child) {
          border-bottom: 1px solid #dfdfdf;
        }
        input[type="radio"]:checked + label {
          color: #0075ff;
        }
        label {
          position: relative;
          top: -1px;
          cursor: pointer;
          color: #777;
          font-size: 14px;
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }
    .buttons {
      display: none;
      .submit-button {
        width: fit-content;
        padding: 15px 25px;
        background-color: #0075ff;
        color: #fff;
        margin: 20px auto;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: #066be2;
          transform: rotate(4deg);
          -webkit-transform: rotate(4deg);
          -moz-transform: rotate(4deg);
          -ms-transform: rotate(4deg);
          -o-transform: rotate(4deg);
        }
      }
      .reset-button {
        width: fit-content;
        padding: 15px 25px;
        background-color: #ff0022;
        color: #fff;
        margin: 20px auto;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        &:focus {
          outline: none;
        }
        &:hover {
          background-color: #ed0a29;
          transform: rotate(4deg);
          -webkit-transform: rotate(4deg);
          -moz-transform: rotate(4deg);
          -ms-transform: rotate(4deg);
          -o-transform: rotate(4deg);
        }
      }
    }
    .bullets {
      display: none;
      background-color: #fff;
      padding: 20px;
      border-top: 1px solid #dfdfdf;
      .spans-container {
        flex: 1;
        display: flex;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        span {
          display: flex;
          background-color: #ddd;
          margin-right: 5px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          &.on {
            background-color: #0075ff;
          }
        }
      }
    }
    .result {
      display: none;
      text-align: center;
      margin-top: 20px;
      span {
        font-weight: bold;
        &.perfect {
          color: #0075ff;
        }
        &.good {
          color: #009688;
        }
        &.bad {
          color: #dc0a0a;
        }
      }
    }
  }
}
/* media query */
@media (max-width: 767px) {
  .quiz-app {
    .quiz-info {
      flex-direction: column;
      .category {
        flex-direction: column;
        ul {
          li {
            &:hover,
            &.chosen {
              border: none;
            }
          }
        }
      }
      .count {
        margin-top: 5px;
        text-align: center;
      }
    }
    .buttons {
      .submit-button,
      .reset-button {
        padding: 10px 15px !important;
        font-size: 16px !important;
      }
    }
    .bullets {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .spans-container {
        flex-wrap: wrap;
        span {
          margin-top: 5px;
        }
      }
      .count-down {
        margin-top: 10px;
      }
    }
  }
}
